@font-face {
  font-family: "iconfont"; /* Project id 3193695 */
  src: url('iconfont.woff2?t=1645530002088') format('woff2'),
       url('iconfont.woff?t=1645530002088') format('woff'),
       url('iconfont.ttf?t=1645530002088') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e62d";
}

.icon-youjiantou:before {
  content: "\e658";
}

.icon-arrow-right:before {
  content: "\e622";
}

.icon-youjiantou1:before {
  content: "\e612";
}

.icon-shuaxin:before {
  content: "\e63f";
}

.icon-jiahao_o:before {
  content: "\eb78";
}

.icon-shuxian:before {
  content: "\e638";
}

.icon-youjiantou2:before {
  content: "\e68c";
}

.icon-shuaxin1:before {
  content: "\e635";
}

.icon-youjiantou3:before {
  content: "\e604";
}

.icon-shoucang:before {
  content: "\e646";
}

.icon-31wode:before {
  content: "\e600";
}

.icon-wode:before {
  content: "\e61f";
}

.icon-gouwuche:before {
  content: "\e602";
}

.icon-dengdai:before {
  content: "\e62c";
}

.icon-gouwuche1:before {
  content: "\e66e";
}

.icon-wode1:before {
  content: "\e60c";
}

.icon-yly_fankui:before {
  content: "\e61c";
}

.icon-xiajiantou:before {
  content: "\e601";
}

.icon-shangjiantou:before {
  content: "\eb6d";
}

.icon-saoma:before {
  content: "\e64a";
}

.icon-faxianzhinanzhen:before {
  content: "\e60f";
}

.icon-quanjushezhi:before {
  content: "\eafb";
}

.icon-shangcheng:before {
  content: "\e6b3";
}

.icon-qq:before {
  content: "\e680";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-xinxi:before {
  content: "\e713";
}

.icon-aixin:before {
  content: "\eca1";
}

.icon-fankui:before {
  content: "\e605";
}

.icon-saoma1:before {
  content: "\e640";
}

.icon-24gl-headset:before {
  content: "\ea0a";
}

.icon-xuexi:before {
  content: "\e6b8";
}

.icon-yewutubiao_tushuguanlixitong:before {
  content: "\e6f9";
}

.icon-weixinzhifu:before {
  content: "\e607";
}

.icon-qiandao:before {
  content: "\e615";
}

.icon-shezhi:before {
  content: "\e617";
}

.icon-kechengtixi:before {
  content: "\e6ba";
}

.icon-xinxi1:before {
  content: "\e63b";
}

.icon-fangdajing:before {
  content: "\e662";
}

.icon-shangcheng1:before {
  content: "\e60d";
}

.icon-quxianjilu:before {
  content: "\e627";
}

.icon-zhejiangmintaishanghanglogo:before {
  content: "\e651";
}

.icon-taobao:before {
  content: "\e616";
}

.icon-wode2:before {
  content: "\e603";
}

.icon-zhifu-zhifubao:before {
  content: "\e6bd";
}

.icon-zidian:before {
  content: "\e6b6";
}

.icon-a-icon_qianbijinqian:before {
  content: "\e655";
}

